<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration> 

	<!-- 여러가지 기본 옵션을 지정합니다. -->
	<settings> 
		<!-- 오라클 필드 속성이 READ_COUNT 처럼 언더 스코어가 있을 때 VO 의 readCount 처럼 카멜 케이스로 변환 되게합니다. -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	
	<typeAliases>
		<typeAlias alias="memberVO" type="net.kh.member.MemberVO" />
		<typeAlias alias="hostVO" type="net.kh.host.HostVO" />
		<typeAlias alias="qnaVO" type="net.kh.qna.QnaVO"/>
		<typeAlias alias="roomVO" type="net.kh.room.RoomVO" />
		<typeAlias alias="imageVO" type="net.kh.room.ImageVO" />
	</typeAliases>
	
	
</configuration>

